[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/novonordisk-opensource/zephyr
