[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "postcard"]
	path = postcard
	url = https://github.com/novonordisk-opensource/postcard
[submodule "whirl"]
	path = whirl
	url = https://github.com/novonordisk-opensource/whirl
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/novonordisk-opensource/zephyr
